{% extends "empapp2/adminbase.html" %}
{% load static %}

{% block main %}
    <script type="text/javascript">
        function changepassword()
        {
            if(document.changepassword.newpassword.value !=document.changepassword.confirmpassword)
            {
                alert("New Password And Confirm Password Field Does Not Match");
                document.changepassword.confirmpassword.focus();
                return false;
            }
        }
    </script>
    
    <div class="container mt-2">
        <div class="card">
            <div class="card-body">
                <h3 class="text-danger text-capitalize" style="border-bottom:2px solid orange">Change Password</h3>
            </div>
        </div>
    
        <div class="card p-2 bg-light">
            <form action="" method="POST" onsubmit="return checkpassword()" name="changepassword">
                {% csrf_token %}
                <div class="form-row">
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="font-weight-bold h5">Enter Current Password:-</label>
                            <input type="password" name="currentpassword" class="form-control" placeholder="Enter Current password" value="{{employee.user.first_name}}">
                        </div>
                    </div>
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="font-weight-bold h5">New Password:-</label>
                            <input type="password" name="newpassword" class="form-control" placeholder="Enter New Password" value="{{employee.user.last_name}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="font-weight-bold h5">confirm Password:-</label>
                            <input type="password" name="confirmpassword" class="form-control" placeholder="Enter New Password Again" value="{{employee.user.last_name}}">
                        </div>
                    </div>
                    <input type="submit" value="submit" class="btn btn-info mt-2">
                </div>
    
            </form>
        </div>
    </div>
     
    {% if error == "no" %}
        <script>
          alert("Password Updated Successfully..");
          window.location = "{% url 'admin_login' %}";
        </script>
    {% endif %}
    
    {% if error == "yes" %}
        <script>
            alert("Something went wrong , try Again...");
            window.location="{% url 'change_password' %}"
        </script>
    {% endif %}
    
    {% if error == "not" %} 
        <script>
            alert("Current password is Wrong! Try again");
            window.location="{% url 'change_password' %}"
        </script>
    {% endif %}

    {% if error == "cp" %} 
        <script>
            alert("Please Enter MAtching  password!!! Try again");
            window.location="{% url 'change_password' %}"
        </script>
    {% endif %}
{% endblock main %}
{% block containt %}
    {{block.super}}
{% endblock containt %}
